flask==3.1.1
flask-mail==0.9.1
flask-cors== 4.0.0
flask-sqlalchemy==3.1.1
python-dotenv==1.1.0
psycopg2-binary==2.9.7
authlib==1.2.0
gunicorn==20.1.0
flask-socketio==5.3.6
gevent==21.12.0
python-engineio==4.6.0
python-socketio==5.8.0
setuptools==68.2.2
wheel==0.41.3
pip==23.3.2
Werkzeug==2.3.7
Jinja2==3.1.2
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.23
alembic==1.12.0  # Для миграций (опционально)
Flask-Login==0.6.3
Flask-JWT-Extended==4.5.2  # JWT-токены
PyJWT==2.8.0
passlib==1.7.4
bcrypt==4.0.1
itsdangerous==2.2.0  # Для сессий и подписей
fastapi==0.103.1
uvicorn==0.23.2
python-multipart==0.0.6
requests==2.31.0  # HTTP-запросы (если есть внешние API)
python-dateutil==2.8.2  # Работа с датами
pydantic==2.5.2  # Валидация данных (если FastAPI или отдельно)
